@import "../fonts/fonts.css";
@font-face {
  font-family: 'mnts_light';
  src: url('../fonts/Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/*===== common css ======*/

html,
body{height:100%}
.wrap{ min-height:100%; position:relative}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background:#efedee;
}

.g-vsap{
	height: 5px;
	clear: both;
}
.g-vsap1{
	height: 10px;
	clear: both;
}
.g-vsap2{
	height: 20px;
	clear: both;
}
.g-vsap3{
	height: 30px;
	clear: both;
}
.g-vsap4{
	height: 40px;
	clear: both;
}
.g-vsap5{
	height: 50px;
	clear: both;
}
.g-vsap6{
	height: 60px;
	clear: both;
}
.g-vsap7{
	height: 70px;
	clear: both;
}
.g-vsap8{
	height: 80px;
	clear: both;
}
.g-vsap9{
	height: 90px;
	clear: both;
}
.g-vsap10{
	height: 100px;
	clear: both;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
a, a:hover, a:focus, a:visited{
	text-decoration: none;
}
.btn-core, .btn-core:hover, .btn-core:focus{
	border:none;
	background-color: #000;
	padding: 8px 20px;
	border-radius: 0;
	color:#fff;
}
.btn-black, .btn-black:hover, .btn-black:focus{
	border:1px solid #fff;
	background-color: #000;
	padding: 3px 20px;
	border-radius: 0;
	color:#fff;
	//outline: #000 solid thick;
	outline-width: 2px;
}
.btn-white{
	border:1px solid #fff;
	background-color: transparent;
	padding: 2px 20px;
	border-radius: 0;
	color:#000;
	outline: transparent solid thick;
	outline-width: 2px;
}
.btn-white:hover, .btn-white:focus{
	background-color: #000;
	color:#fff;
}
.input-group-addon{
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 12px;
}
.input-color{
	color:#434343;
	font-size:12px;
}
.signup-form .input-group,
.login-form .input-group{
	border:2px solid #000;
}
.signup-form .input-group-addon:first-child,
.login-form .input-group-addon:first-child{
	padding-left: 5px;
	min-width: 90px;
}
.signup-form .input-group-addon:last-child,
.login-form .input-group-addon:last-child{
	padding-right: 5px;
	min-width: 30px;
}
.signup-form .form-control,
.login-form .form-control{
	background-color: transparent;
	border: none;
}
/*===== end Common css ======*/
.front-home{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
}
.logo{
	padding:20px 0;
}
.home-content{
	padding:50px 0 70px 0;
	text-align: center;
}
.front-desc h4{
	font-size: 14px;
}
.front-desc p{
	font-family: 'mnts_light';
	font-size: 12px;
	margin: 0 auto;
    text-align: center;
    width: 40%;
}
.user-action{
	overflow: hidden;
	padding: 10px 0;
}
.special-link{
	overflow: hidden;
}
.social-share{
	padding: 15px 0;
}
.social-share ul{
	margin: 0;
}
.social-share ul li a{
	color: #000;
	text-shadow:1px 1px 2px #333;
	font-size: 14px;
}
.social-share ul li a:hover{
	color:#fff;
}
.site-map ul li a{
	text-align: center;
	text-transform: uppercase;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 14px;
}
.site-map ul li:first-child a{
	padding-left: 20px;
}
.site-map ul li a:hover{color:#fff}
/*======= front sign up ========*/
.front-signup{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom/100% 100%;
}
.signup-content{
	padding:40px 0 70px 0;
	text-align: center;
}
.logo-signup{
	padding:20px 0;
}
.logo-signup img{
	height: 45px;
}
.port-art-signup img{
	height: 195px;
}
.sign-up form p.service-terms{
	font-family: 'mnts_light';
	font-size: 12px;
	color: #000;
	padding-top: 10px;
}
.sign-up form p.service-terms a{
	color: #c42f2f;
}
.signup-form{
	padding: 0 15px;
}
.signup-form h3{
	text-transform: uppercase;
	font-size: 24px;
	color:#000;
}
.action-wrapper small.popart-member{
	font-family: 'mnts_light';
	float: right;
	font-size: 10px;
}
/*======= end front sign up ========*/

.text-right{text-align:right}
.padding-0{padding:0;}
@media only screen and (max-width :768px){
.btn-responsive{display:black;width:100%}
.padding-0{padding:0 15px;}
}
/*======= front login ========*/
.front-login{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
}
.login-content{
	padding:40px 0 70px 0;
	text-align: center;
}
.logo-login{
	padding:20px 0;
}
.logo-login img{
	height: 45px;
}
.port-art-login img{
	height: 195px;
}
.log-in form p{
	font-family: 'mnts_light';
	font-size: 12px;
}
.log-in form p a{
	color: #c42f2f;
}
.login-form{
	padding: 0 15px;
}
.login-form h3{
	text-transform: uppercase;
	font-size: 24px;
	color:#000;
}
.action-wrapper small{
	font-family: 'mnts_light';
	float: left;
	font-size: 10px;
}

.action-wrapper small>a{color:#333}
.action-wrapper small>a:hover{border-bottom:1px solid #fff;padding-bottom:1px;}

.remember-me{
	font-size: 12px;
	font-family: 'mnts_light';
}
.remember-me input[type="checkbox"]{
	background:none;
	border:1px solid #000;
}
label.forgot-password{
	float: right;
}
label.forgot-password a{
	color: #c42f2f;
}

/*======= end front login ========*/
/*======= user account start ========*/
.front-account{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
    background-size: 
}
.bar{
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bar a{
	font-family: 'mnts_light';
	font-size: 30px;
	color:#000;
}
.bar ul{
	display: none;
	position: absolute;
	right: 15px;
	top:65px;
	width: 200px;
	background-color: #000;
	z-index: 9;
}
.bar ul li{
	padding: 5px;
}
.bar ul li:first-child{
	border-bottom: 1px solid #fff;
}
.bar ul li:hover{
	background-color: #fff;
}
.bar ul li:hover a{
	color: #000;
}
.bar ul li a{
	color: #fff;
	font-size: 12px;
}
.update-form form .form-group{
	margin-bottom: 8px;
}
.update-form form p.service-terms{
	font-family: 'mnts_light';
	font-size: 12px;
}
.update-form form p.service-terms a{
	color: #c42f2f;
}
.update-form .form-horizontal .control-label{
	text-align: left;
}
.account-setting h3{
	padding-left: 15px;
}
.update-form .form-control{
	border-radius: 0;
	border: none;
	height: 40px;
}

/*======= end user account ========*/

/*======= painting start ========*/
.front-painting{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
}
.upload-img{
	background: url(../images/upload_bg.png) no-repeat center center;
	background-size: 100% 100%;
	padding: 115px 20px;
}
.upload-img input[type="file"]{
	visibility: hidden;
}
.delete-airwork{
	color: #c42f2f;
}
.progress-label{
	margin-bottom: 5px;
	color: #8a8a8a;
	font-size: 12px;
}
.photographic-instruction h5{
	color: #8a8a8a;
}
.photographic-instruction p{
	font-size: 12px;
}
.demo-note>img{display:block;width:100%}
#disabledInput.form-control{background:#fff}
/*======= end painting ========*/

/*======= inventory ========*/
.painting-setting h3{
	padding: 10px 30px;
}
.position-rela{position:relative;}
.padding-7{padding:0 7px;}

.portfolio-item {
	float:left;
	margin:5px;
	overflow:hidden;
	font-size:36px;
	color:#fff;
	position:relative;
	width:100%;
	height:100%;
}
.protfolio-hover{display:none;}
.portfolio-item:hover .protfolio-hover{
	display:block;
	background:rgba(0,0,0,0.5);
	position:absolute;
	z-index:1;
	cursor:pointer;
	width:100%;
	height:100%
}
.portfolio-item:hover img{
	
	
	
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
    transform: scale(1.1); 
}
.portfolio-item:hover .protfolio-hover,
.portfolio-item:hover img{
	
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms ;
	-ms-transition: all 700ms ;
	-o-transition: all 700ms;
	transition: all 700ms ;
}
.prot-title{
	clear:both;
    color:#fff;
    font-size:18px;
    line-height:20px;
    padding:46px 0 24px;
}
.prot-title>a{color:#fff;}

ul.top-search{
	margin-bottom: 0;
	position: relative;
	top: -12px;
}
ul.top-search li{
	font-size: 16px;
	position:relative;
	float:left;
}
.painting-setting ul li span{
	display:block;
	padding-top:8px;
}
.painting-setting ul li b{
	font-size: 30px;
}
.load-more{
	font-size: 20px;
}
.load-more img{width:5%}
.load-more p{text-align:center}
.inhide1{position:relative}
.inhide{
	position:absolute;
	border:0;
	background:none;
	height:16px;
	width:16px;
	cursor:pointer;
    left:0;
	opacity:0;
    position:absolute;
}
/*======= end inventory ========*/

/*======= upload start ========*/
.front-upload{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
}
.general-instruction{
	background-color: #fff;
	overflow: hidden;
}
.upload-table{
	background-color: #fff;
}
.general-flip{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 3px solid #efefef;
	cursor:pointer;
}
.general-flip p{
	text-align: center;
	margin-bottom: 0;
}
.file-prep{
	font-family: 'mnts_light';
	color: #8a8a8a;
}
ul.general-option li{
	font-family: 'mnts_light';
	font-size: 12px;
	color:#000;
	padding-bottom: 5px;
}
ul.general-option li strong{
	font-weight: 700;
	font-size: 14px;
}
.mass-desc h6{
	font-weight: 700;
}
.mass-desc ol li{
	font-family: 'mnts_light';
	font-size: 12px;
}
span.glyphicon-triangle-bottom{margin-left:5px;top:4px}
span.glyphicon-triangle-top{margin-left:5px;top:3px}
/*======= upload end ========*/

/*======= about start ========*/
.front-about{
	background: url(../images/section_bg.jpg) no-repeat 0 bottom / 100% 100%;
}
.about-content{
	padding: 20px 0 30px;
}

.our-team ul>li{
	box-sizing:border-box;
    float:left;
    height:250px;
    margin:0;
	padding:0;
    width:25%;
}
.our-team ul>li>img{
	display:black;
	height:100%;
	width:100%;
}

.about-desc{
	text-align: center;
}
.about-para p{
	font-family: 'mnts_light';
}
.special-quote p{
	font-family: 'AquietSleep';
	font-size: 50px;
}
.about-desc h4{
	font-size: 14px;
}
/*======= about end ========*/
/*======= Drag and Drop ========*/
.dragdrop{
	border:2px dashed #8a8a8a;
	background:#fff;
	padding:60px 50px 45px;
	text-align:center;
	
}
.browser{padding-bottom:10px;}
.dragdrop b{color:#8a8a8a;display:block;font-size:20px}
.dragdrop p{font-size:12px}
.icon-uplode{margin:12px 0}
.text-red{color:red}
.demo-panel-files {
	max-height: 290px;
	min-height: 290px;
	overflow: auto;
	cursor: default;
}
.demo-file-id {font-weight: bold;}
.demo-file-size{
	font-style: italic;
	color: gray;
	font-size: 90%;
}
.demo-file-status,
.demo-file-status-default{color: gray;}
.demo-file-status-error{color: #990000;}
.demo-file-status-success{color: #009900;}
.demo-image-preview {
	float:left;
	margin-right: 10px;
	margin-top: 4px;
	height: 56px;
	width: 56px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.browser label {
    background-color: #5a7bc2;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #888888;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 40%;
    font-weight: bold;
    margin: 20px auto 0;
    overflow: hidden;
    padding: 6px 0;
    position: relative;
    width: 300px;
}
.browser input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 0 0 100px 200px;
    cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}
.browser span {
    cursor: pointer;
	font-size:11px;
}
#demo-files2 .demo-image-preview {
	margin-bottom: 15px;
	height: auto;
	width: 100%;
}
.panel-bg{background:none;border:0;box-shadow:none}

/*======= Images ========*/
#protfolio>.row>.col-md-3,
#protfolio>.row>.col-sm-6{padding:5px;}
.ih-item.square{width:100%;}
.ih-item img {
	height:200px;
    width:100%;
}
.ih-item a{display:inline-block}
.protfolio-top i,
.protfolio-btm i{font-size:30px;color:#fff}




.contentImages{
  width: 100%;
  height:100%;
  overflow: hidden;
}
.contentImages img{
  opacity: 0;
  transition: opacity .6s linear .8s;
}
.contentImages img.loaded{ opacity: 1; }
.img-pan-container, .img-pan-container img{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.img-pan-container{
  position: relative;
  overflow: hidden;
  cursor: crosshair;
  height: 100%;
  width: 100%;
}
.img-pan-container img{
  -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
}
.hi-width{margin-top:0;width:100%}
/*======= Animation ========*/
.btn-white:hover{
	-webkit-transition: all 700ms;
	-moz-transition: all 700ms;
	-ms-transition: all 700ms;
	-o-transition: all 700ms;
	transition: all 700ms;
}


/*======= Footer ========*/
#footer{
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	background:url(../images/footer.jpg) no-repeat center top/100% 100%;
}



@media only screen and (max-width: 767px){
	.hi-icon{margin:0 !important;}
	.action-wrapper small{padding-bottom:15px}
	.our-team ul > li{height:180px;}
}
@media only screen and (max-width: 640px){
	.painting-setting>h3{overflow:hidden;}
	.painting-setting>h3>span{
		display:block;
		padding-bottom:15px;
		text-align:center;
		width:100%
	}
	.painting-setting>h3>ul{text-align:center;width:100%}
	ul.top-search li{float:none}
	ul.top-search{top:0}
	.painting-setting ul li span{position:relative;top:-11px;}
	.our-team ul>li{width:50%}
	.hi-heddin{display:none !important}
}

@media only screen and (max-width: 410px){
	.datepicker{left:25px !important}
}
