@font-face {
    font-family: 'AquietSleep';
    src: url('aquietsleep/aquietsleep.eot');
    src: url('aquietsleep/aquietsleep.eot?#iefix') format('embedded-opentype'),
         url('aquietsleep/aquietsleep.woff2') format('woff2'),
         url('aquietsleep/aquietsleep.woff') format('woff'),
         url('aquietsleep/aquietsleep.ttf') format('truetype'),
         url('aquietsleep/aquietsleep.svg#AquietSleep') format('svg');
    font-weight: normal;
    font-style: normal;

}